/**
 * Texas A&M University color variables
 * @see https://canopy-iiif.github.io/app/docs/theming/tailwind#custom
 */

@layer properties {
  :root,
  :host {
    --color-tamu-maroon: #500000;
    --color-accent-700: var(--color-tamu-maroon);
    --color-accent-default: var(--color-tamu-maroon);
  }
}
